<div >
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <input type="text" placeholder="Movie Name" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto" [value]='search' />
      <mat-autocomplete #auto="matAutocomplete" >
        <mat-option  (onSelectionChange)="addToList(option.Title, option.imdbID)" *ngFor="let option of filteredOptions | async" [value]="option.Title" [style.display]="option.Title == '' ? 'none' : 'block'">
        {{option.Title}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
</div>
